.one {
  color: blue;
}
#paragraphOne {
  font-weight: bold;
}
#paragraphTwo {
  font-style: italic;
}
.two {
  color: red;
}
.three {
  color: green;
}
button {
  text-align: center;
  padding: 10px;
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: none;
  border: solid;
  border-width: thin;
}
button:hover {
  background-color: rgb(175, 252, 173);
}
.col-4 {
  width: 33.33%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
